/* 全域設定 */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    font-family:Arial,Helvetica,sans-serif;

    color:white;

    overflow-x:hidden;

    background:
    radial-gradient(circle at 20% 20%,rgba(59,130,246,.35),transparent 30%),
    radial-gradient(circle at 80% 70%,rgba(168,85,247,.35),transparent 35%),
    radial-gradient(circle at 50% 90%,rgba(236,72,153,.25),transparent 30%),
    #09090b;

}

/* 光暈 */

.blur{

    position:fixed;

    border-radius:50%;

    filter:blur(180px);

    opacity:.8;

    z-index:-1;

}

.blue{

    width:450px;
    height:450px;

    background:#3b82f6;

    top:-150px;
    left:-150px;

}

.purple{

    width:500px;
    height:500px;

    background:#8b5cf6;

    right:-180px;
    bottom:-180px;

}

.pink{

    width:300px;
    height:300px;

    background:#ec4899;

    top:45%;
    left:50%;

    transform:translate(-50%,-50%);

}

/* 中間玻璃卡片 */

.card{

    width:900px;

    max-width:90%;

    margin:60px auto;

    padding:50px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:25px;

    box-shadow:0 20px 40px rgba(0,0,0,.4);

}

/* 標題 */

h1{

    text-align:center;

    font-size:52px;

    margin-bottom:40px;

}

h2{

    margin-top:30px;

    margin-bottom:15px;

}

h3{

    margin:10px 0;

    font-weight:normal;

}

/* 清單 */

ol{

    margin-left:30px;

    line-height:2;

}

/* 按鈕 */

button{

    margin-top:20px;

    margin-bottom:20px;

    padding:14px 30px;

    border:none;

    border-radius:30px;

    background:white;

    color:#222;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#8b5cf6;

    color:white;

    transform:translateY(-3px);

}

/* Footer */

footer{

    text-align:center;

    padding:20px;

    color:#ddd;

}