/* 全域設定 */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{

    margin:0;

    min-height:100vh;

    color:white;

    font-family:Inter,sans-serif;

    overflow-x:hidden;

    background:
    radial-gradient(circle at 50% 18%,rgba(35,62,190,.35),transparent 38%),
    radial-gradient(circle at 80% 80%,rgba(14,17,40,.6),transparent 60%),
    #070707;

}

/* 光暈 */

.blue{
    background:#2563eb;
}

.purple{
    background:#7c3aed;
}

.pink{
    background:#db2777;
}

/* 中間玻璃卡片 */

.card{

    width:900px;

    max-width:90%;

    margin:60px auto;

    padding:50px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:25px;

    box-shadow:0 20px 40px rgba(0,0,0,.4);

}

/* 標題 */

h1{

    text-align:center;

    font-size:52px;

    margin-bottom:40px;

}

h2{

    margin-top:30px;

    margin-bottom:15px;

}

h3{

    margin:10px 0;

    font-weight:normal;

}

/* 清單 */

ol{

    margin-left:30px;

    line-height:2;

}

/* 按鈕 */

button{

    margin-top:20px;

    margin-bottom:20px;

    padding:14px 30px;

    border:none;

    border-radius:30px;

    background:white;

    color:#222;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#8b5cf6;

    color:white;

    transform:translateY(-3px);

}

/* Footer */

footer{

    text-align:center;

    padding:20px;

    color:#ddd;

}
.background::after{

    content:"";

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle,
    transparent 45%,
    rgba(0,0,0,.65) 100%);

}